<div style="
    border: 5px solid black;
    border-radius: 5%;
    color: white;
    font-size: 16px;
    font-family: Mukta;
    background: linear-gradient(90deg, rgba(0,62,0,1) 0%, rgba(0,156,0,1) 50%, rgba(0,93,0,1) 100%);
    padding: 20px
">
    <p>New feedback message from Nigels app user <b style="color: darkViolet">{{ sender_name }}</b></p>
    <div style="
        background-color: hsl(0, 0%, 0%, 0.7);
        border: 1px solid #58f958;
        border-radius: 2%;
        color: #58f958;
        padding: 5px;
    ">
        <p>{{ message }}</p>
    </div>
    <p>Nagels application team</p>
</div>