<div style="
    border: 5px solid black;
    border-radius: 5%;
    color: white;
    font-size: 16px;
    font-family: Mukta;
    background: linear-gradient(90deg, rgba(0,62,0,1) 0%, rgba(0,156,0,1) 50%, rgba(0,93,0,1) 100%);
    padding: 20px
">
    <div style="
        background-color: hsl(0, 0%, 0%, 0.7);
        border: 1px solid #58f958;
        border-radius: 2%;
        color: #58f958;
        padding: 5px;
    ">
        <p>Dear <b style="color: darkViolet">{{ user.username }}</b>,</p>
        <p>
            To reset your password
            <a href="http://localhost:3000/reset-password/{{ token }}">
                click here
            </a> (this is temporary link).
        </p>
        <p>Alternatively, you can paste the following link in your browser's address bar:</p>
        <p>http://localhost:3000/reset-password/{{ token }}</p>
        <p>If you have not requested a password reset simply ignore this message.</p>
        <p>Sincerely,</p>
        <p>Nagels application team</p>
    </div>
</div>